/* RESET BÁSICO*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  background: #FFF5D9;
  color: #4a3d2d;
  padding-bottom: 40px;
}

/* HEADER*/
header {
  background: linear-gradient(90deg, #FFE8A3, #FFC98B);
  color: #4a3d2d;
  padding: 22px;
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  border-bottom: 3px solid #f5c77a;
}

/* CARDS */
.card {
  background: #fff;
  padding: 18px;
  margin: 22px auto;
  max-width: 600px;
  border-radius: 12px;
  border: 1px solid #ffe2a8;
  box-shadow: 0 2px 10px rgba(255, 200, 120, 0.25);
}

h2 {
  margin-bottom: 15px;
  color: #5c4830;
}

/*  FORMULARIO */
label {
  display: block;
  margin-bottom: 14px;
  font-weight: bold;
  color: #6e573c;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 10px;
  margin-top: 6px;
  border: 1.5px solid #ffd58a;
  border-radius: 6px;
  background: #fff9ec;
}

textarea { resize: vertical; }

input[type="text"]:focus,
textarea:focus {
  border-color: #ffba57;
  outline: none;
  background: #fff4d6;
}

button,
#submit-btn,
#open-camera-btn,
#take-photo-btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.2s;
}

/* Cores dos botões */
button, #submit-btn { background: #FFC98B; color: #4a3725; }
button:hover, #submit-btn:hover { background: #ffb96a; }

#open-camera-btn, #take-photo-btn { background: #FFD782; }
#open-camera-btn:hover, #take-photo-btn:hover { background: #ffc157; }

/* VÍDEO E PREVIEW  */
#camera { border-radius: 10px; border: 2px solid #ffdd9b; margin-top: 10px; }
#photo-preview { margin-top: 14px; padding-top: 8px; }
#preview-img { border: 2px solid #ffd796; border-radius: 10px; }

/* LISTA DE ITENS */
.book-item {
  display: flex;
  align-items: center;
  gap: 14px;
  padding: 12px 0;
  border-bottom: 1px solid #ffe7b7;
}

.book-info h3 { margin-bottom: 3px; color: #4d3b2a; }

.book-photo {
  width: 65px;
  height: 80px;
  object-fit: cover;
  border-radius: 8px;
  background: #ffeec9;
  border: 1.5px solid #ffd59d;
}

/*BOTÃO DE EXCLUIR  */
.delete-btn {
  background: #ff9e7a;
  padding: 6px 12px;
  color: #fff;
  border-radius: 6px;
  border: none;
  margin-left: auto;
  cursor: pointer;
  transition: 0.2s;
}

.delete-btn:hover { background: #ff7d53; }
